//Variabler
$HJV: #8d1b3d;
$FMN: #3f5b58;
$Hæren: #597e50;
$Søvernet-BRS: #002855;
$Flyvevåbnet: #489ed8;
$BRS: #f5821e;
$FSV: #c8102e;
$FE: #000000;
$FAUK: #93358c;
$FMN: rgba(63, 91, 88, 0.1);
$grøn60: rgba(89, 126, 80, 0.6);
$grøn30: rgba(89, 126, 80, 0.3);
$blaa60: rgba(0, 40, 85, 0.6);
$blaa30: rgba(0, 40, 85, 0.3);
$lyseblaa60: rgba(72, 158, 216, 0.6);
$lyseblaa30: rgba(72, 158, 216, 0.3);
$txt-dark: #080808;
$txt-light: #fdfdfd;
$font: Verdana, Geneva, Tahoma, sans-serif;

// Overskrifter
@mixin h1 {
  font-family: $font;
  color: $txt-dark;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -2px;
}

@mixin h2 {
  font-family: $font;
  color: $txt-dark;
  font-weight: 700;
  font-size: 28px;
  line-height: 27px;
  letter-spacing: -1.2px;
}

@mixin txt($txtcolor: $txt-dark) {
  font-family: $font;
  color: $txtcolor;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.5px;
}

@mixin btn(
  $btnTxtColor: $txt-light,
  $bgColor: $HJV,
  $hoverBgColor: $txt-light,
  $hoverTxtColor: $txt-dark
) {
  font-family: $font;
  color: $btnTxtColor;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.5px;
  background-color: $HJV;
  padding: 12px;

  &:hover {
    background-color: $hoverBgColor;
    color: $hoverTxtColor;
    border: 2px solid white;
  }
}
