//Variabler
$HJV: #802438;
$FMN: #455b59;
$Hæren: #5e7c55;
$Søvernet-BRS: #0c2752;
$Flyvevåbnet: #569cd9;
$BRS: #d7782c;
$FSV: #c52c30;
$FV: #2b2927;
$FAUK: #842a7e;
$FMN: rgba(69, 91, 89, 0.1);
$grøn60: rgba(94, 124, 85, 0.6);
$grøn30: rgba(94, 124, 85, 0.3);
$blaa60: rgba(12, 39, 82, 0.6);
$blaa30: rgba(12, 39, 82, 0.3);
$lyseblaa60: rgba(86, 156, 217, 0.6);
$lyseblaa30: rgba(86, 156, 217, 0.3);
$txt-dark: #080808;
$txt-light: #f5f3f3;
$font: Verdana, Geneva, Tahoma, sans-serif;

// Overskrifter
@mixin h1 {
  font-family: $font;
  color: $txt-dark;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -2px;
}

@mixin h2 {
  font-family: $font;
  color: $txt-dark;
  font-weight: 700;
  font-size: 28px;
  line-height: 27px;
  letter-spacing: -1.2px;
}

@mixin txt($txtcolor: $txt-dark) {
  font-family: $font;
  color: $txtcolor;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.5px;
}

@mixin btn {
  font-family: $font;
  color: $txt-light;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  background-color: $HJV;
  padding: 12px;

  &:hover {
    background-color: $txt-light;
    color: $txt-dark;
  }
}
