//Variabler
$HJV: #802438;
$FMN: #455b59;
$Hæren: #5e7c55;
$Søvernet-BRS: #0c2752;
$Flyvevåbnet: #569cd9;
$BRS: #d7782c;
$FSV: #c52c30;
$FV: #2b2927;
$FAUK: #842a7e;
$FMN: rgba(69, 91, 89, 0.1);
$grøn60: rgba(94, 124, 85, 0.6);
$grøn30: rgba(94, 124, 85, 0.3);
$blaa60: rgba(12, 39, 82, 0.6);
$blaa30: rgba(12, 39, 82, 0.3);
$lyseblaa60: rgba(86, 156, 217, 0.6);
$lyseblaa30: rgba(86, 156, 217, 0.3);

@mixin h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
