@use "partial";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;

  .main {
    background-color: partial.$txt-light;
    display: flex;
  }

  .header {
    background-color: partial.$txt-light;
    width: 100%;
    height: 10vh;

    div {
      background-color: partial.$HJV;
      width: 100%;
      height: 20px;
    }
  }

  #sidebar {
    height: 80vh;
    width: 30vw;
    background-color: partial.$txt-light;
    box-shadow: 0px 4px 4px partial.$FMN inset;
  }
}
