@use "partial";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;

  .main {
    background-color: partial.$txt-light;
    display: flex;
  }

  header {
    background-color: partial.$txt-light;
    width: 100%;
    height: auto;

    div {
      background-color: partial.$HJV;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      p {
        color: partial.$txt-light;
        padding: 5px 15px;
      }
    }

    .logoMobile,
    .logoDesk {
      padding: 15px;
    }

    .logoMobile {
      width: 68px;
      height: auto;
    }

    .logoDesk {
      display: none;
    }

    @media (min-width: 768px) {
      .logoMobile {
        display: none;
      }

      .logoDesk {
        display: block;
      }
    }
  }

  #sidebar {
    height: 100%;
    width: 30vw;
    background-color: partial.$txt-light;
    box-shadow: 0px 4px 4px partial.$FMN inset;
  }

  #content {
    width: 70vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #login {
      display: flex;
      flex-direction: column;
      @include partial.txt;
      background-color: partial.$HJV;
      width: 70%;
      height: auto;
      color: partial.$txt-light;
      padding: 2rem 2rem;
      input {
        margin-bottom: 1.5rem;
        @include partial.txt;
      }
      button {
        margin-top: 1rem;
        padding: 12px;
        @include partial.btn(
          $hoverBgColor: partial.$HJV,
          $hoverTxtColor: partial.$txt-light
        );
        background-color: partial.$txt-light;
        color: partial.$txt-dark;
      }
    }
  }
}
