@use "partial";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;

  .main {
    background-color: partial.$txt-light;
    display: flex;
  }

  header {
    background-color: partial.$txt-light;
    width: 100%;
    height: auto;

    div {
      background-color: partial.$HJV;
      width: 100%;
      height: 3vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      p {
        color: partial.$txt-light;
        padding: 5px 15px;
      }
    }
    a {
      display: flex;
      align-items: center;

      .logoMobile {
        width: 68px;
        height: auto;
        padding: 15px;
      }

      .logoDesk {
        display: none;
      }
    }
  }

  #sidebar {
    height: 100%;
    width: 30vw;
    background-color: partial.$txt-light;
    box-shadow: 0px 4px 4px partial.$FMN inset;
  }

  #content {
    width: 70vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #map{
      width: 100%;
      width: 70vh;
    }
    #login {
      display: flex;
      flex-direction: column;
      @include partial.txt;
      background-color: partial.$HJV;
      width: 70%;
      height: auto;
      color: partial.$txt-light;
      padding: 2rem 2rem;
      input {
        margin-bottom: 1.5rem;
        @include partial.txt;
      }
      button {
        margin-top: 1rem;
        padding: 12px;
        @include partial.btn(
          $hoverBgColor: partial.$HJV,
          $hoverTxtColor: partial.$txt-light
        );
        background-color: partial.$txt-light;
        color: partial.$txt-dark;
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 800px) {
  body {
    header {
      a {
        .logoMobile {
          display: none;
        }

        .logoDesk {
          display: block;
          padding: 10px 20px 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 801px) {
  body {
    header {
      a {
        .logoMobile {
          display: none;
        }

        .logoDesk {
          display: block;
          padding: 10px 20px 20px;
        }
      }
    }
  }
}
