@use "partial";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  header {
    background-color: partial.$txt-light;
    width: 100%;
    height: auto;

    div {
      background-color: partial.$HJV;
      width: 100%;
      height: 3.5vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      p {
        @include partial.txt;
        color: partial.$txt-light;
        padding: 5px 15px;
      }
      #logout {
        display: none;
        @include partial.txt;
        color: partial.$txt-light;
        text-decoration: underline;
        margin-right: 10px;
      }
    }
    a {
      display: flex;
      align-items: center;

      .logoMobile {
        width: 68px;
        height: auto;
        padding: 15px;
      }

      .logoDesk {
        display: none;
      }
    }
  }

  .main {
    background-color: partial.$txt-light;
    display: flex;
    flex-direction: column-reverse;

    #sidebar {
      height: 100%;
      width: 100%;
      background-color: partial.$txt-light;
      box-shadow: 0px 4px 4px partial.$FMN inset;
      padding: 1.2rem 1.2rem;
      #headingOne {
        @include partial.h1;
        font-size: 38px;
      }
      #introTxt {
        @include partial.txt;
      }
      .opgaveBox {
        border: 3px solid partial.$HJV;
        padding: 1rem 1rem;
        margin: 15px 0px;
        h2 {
          @include partial.h2;
        }
        p {
          @include partial.txt;
          margin: 10px 0px;
        }

        fieldset {
          border: none;
          div {
            display: flex;
            align-items: center;
            margin: 8px 0px;
            @include partial.txt;
            label {
              margin-left: 5px;
            }
          }
        }
      }

      button {
        @include partial.btn;
        padding: 5px 10px;
        margin-top: 15px;
        &:hover {
          border: 2px solid partial.$HJV !important;
        }
      }
    }

    #content {
      width: auto;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;

      #map {
        width: 100%;
        height: 100%;
      }
      .blur {
        filter: blur(5px);
      }

      .loginOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }

      #login {
        display: flex;
        flex-direction: column;
        @include partial.txt;
        background-color: partial.$HJV;
        width: 70%;
        height: auto;
        color: partial.$txt-light;
        padding: 2rem 2rem;
        input {
          margin-bottom: 1.5rem;
          @include partial.txt;
        }
        button {
          margin-top: 1rem;
          padding: 12px;
          @include partial.btn(
            $hoverBgColor: partial.$HJV,
            $hoverTxtColor: partial.$txt-light
          );
          background-color: partial.$txt-light;
          color: partial.$txt-dark;
        }
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 800px) {
  body {
    header {
      a {
        .logoMobile {
          display: none;
        }

        .logoDesk {
          display: block;
          padding: 10px 20px 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 801px) {
  body {
    header {
      a {
        .logoMobile {
          display: none;
        }

        .logoDesk {
          display: block;
          padding: 10px 20px 20px;
        }
      }
    }
    .main {
      flex-direction: row;
      height: 86vh;

      #content {
        position: relative;
        width: 70vw;
        height: 100%;
        #login {
          width: 60%;
          padding: 5rem 5rem;
          button {
            width: 60%;
            align-self: center;
          }
        }
      }
      #sidebar {
        height: 100%;
        width: 30vw;
        background-color: partial.$txt-light;
        #headingOne {
          @include partial.h1;
        }
      }
    }
  }
}
